@model RegistroHoras.Models.Empleado;


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card border border-primary">
                <div class="d-flex justify-content-center">
                <h1 class="mt-5">
                    Registrar
                </h1>
                </div>
                <div class="card  m-5">
                    <form asp-action="Create" method="post">
                        <div class="row">
                        <div class="col">
                            <input type="text" class="form-control"  asp-for="Nombre" id="Nombre" placeholder="Ingresa tu nombre..." aria-label="Nombre">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control"  asp-for="Apellido" id="Apellido" placeholder="Ingresa tu Apellido..." aria-label="Apellidos">
                        </div>
                        </div>
                        <div class="row mt-2">
                        <div class="col">
                        <select class="form-select" aria-label="Default select example" asp-for="Tipo_documento">
                            <option  disabled  selected hidden>Tipo de documento</option>
                            <option value="1">cedula de ciudadania</option>
                            <option value="2">cedula de estranjeria</option>
                            <option value="3">pasaporte</option>
                            <option value="4">tarjeta de identidad</option>
                        </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" asp-for="Numero_documento" id="Numero_documento" placeholder="Ingresa numero de documento..." aria-label="Apellidos">
                        </div>
                        </div>
                        <div class="row mt-2">
                        <div class="col">
                            <input type="text" class="form-control"   asp-for="Cargo" id="Numero_documento"  placeholder="Ingresa Cargo..." aria-label="Nombre">
                        </div>
                        <div class="col">
                            <input type="text"  class="form-control"   asp-for="Area" id="Area"   placeholder="Ingresa Area..." aria-label="Area">
                        </div>
                        </div>
                        <div class="">
                            <div class="d-flex justify-content-center mt-5"> <h4>Crea por favor tu Contrase単a</h4></div>

                              <div class=" justify-content-center mt-5">
                                <label for="exampleInputPassword1" class="form-label">Ingresa una contrase単a de minimo 8 caracteres</label>
                                <input type="password" class="form-control"  class="form-control" asp-for="Contrase単a" id="Contrase単a">
                               
                            </div>
                        </div>
                         <button type="submit" class="btn btn-info mt-3 col-12">Guardar</button>
                    </form>
                </div>



            </div>
        </div>
    
    </div>
</div>