@using RegistroHoras.Models;
@model Empleado;  
@{
    ViewData["Title"] = "Edit";
}
@{
    Layout=null;
}


<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- ===== CSS ===== -->
        <link rel="stylesheet" href="assets/css/styles.css">
    
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>

        <title>Responsive Login Form Sign In Sign Up</title>
    </head>
    <body>
        <div class="login e">
            <div class="login__content">
                <div class="login__img">
                    <img src="https://raw.githubusercontent.com/bedimcode/responsive-login-signin-signup/3324db1e2b25ddd4f30fbfb618a3d1c45e57f973/assets/img/img-login.svg" alt="">
                </div>

                <div class="login__forms">
                    <form asp-controller="Auth"  asp-action="Login" class="login__registre" id="login-in">
                        <h1 class="login__title">Sign In</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" asp-for="Numero_documento" placeholder="Username" class="login__input">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" asp-for="Contraseña" placeholder="Password" class="login__input">
                        </div>

                        <a href="#" class="login__forgot">Forgot password?</a>

                        <div class="d-flex justify-content-center">
                            <button class="login__button" type="submit">Sign In</button>
                        </div>

                        <div>
                            <span class="login__account">Don't have an Account ?</span>
                            <a class=""  asp-area="" asp-controller="Auth" asp-action="Create">Sign Up</a>
                        </div>
                    </form>

                    <form action="" class="login__create none" id="login-up">
                        <h1 class="login__title">Create Account</h1>
    
                        <div class="login__box">
                            <i class='bx bx-user login__icon'></i>
                            <input type="text" placeholder="Username" class="login__input">
                        </div>
    
                        <div class="login__box">
                            <i class='bx bx-at login__icon'></i>
                            <input type="text" placeholder="Email" class="login__input">
                        </div>

                        <div class="login__box">
                            <i class='bx bx-lock-alt login__icon'></i>
                            <input type="password" placeholder="Password" class="login__input">
                        </div>

                        <a class="login__button"  asp-area="" asp-controller="Auth" asp-action="Create">Sign Up</a>

                        <div>
                            <span class="login__account">Already have an Account ?</span>
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </body>
</html>
