
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />
        <title>Detalles de Ingreso</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-aling center">
                <form id="formCerrarSesion" asp-controller="Auth" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-primary mt-5">Cerrar Sesi칩n</button>
                </form>
                   <h4 class="mt-5">Detalles de Ingreso</h4>
                <hr />
                <h1>Ingreso con exito</h1>


                <form id="formMarcarHora" asp-controller="Horas" asp-action="MarcarHora" method="post">
                    <button type="submit" onclick="obtenerHoraFechaActual()">Marcar Hora</button>
                    <p id="horaFechaActual"></p>
                </form>
                     @if(TempData["MessageSuccess"] != null){
                <div class="alert alert-success" role="alert">
                    @TempData["MessageSuccess"]
                </div>
                } 
            </div>
        </div>
    <div>
    <div>

    </div>    
    
   
</body>
</html>
<script>
    function obtenerHoraFechaActual() {
        // Obtener la hora y fecha actual
        var fechaHoraActual = new Date();
        var hora = fechaHoraActual.getHours();
        var minutos = fechaHoraActual.getMinutes();
        var segundos = fechaHoraActual.getSeconds();
        var dia = fechaHoraActual.getDate();
        var mes = fechaHoraActual.getMonth() + 1; // Meses en JavaScript van de 0 a 11
        var a침o = fechaHoraActual.getFullYear();

        // Formatear la hora y fecha actual
        var horaFechaFormateada = `${hora}:${minutos}:${segundos} - ${dia}/${mes}/${a침o}`;

        // Mostrar la hora y fecha actual en el p치rrafo correspondiente
        document.getElementById("horaFechaActual").innerHTML = horaFechaFormateada;
    }
</script>

