
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-aling center">
                <form id="formCerrarSesion" asp-controller="Auth" asp-action="Logout" method="post">
                    <button type="submit" class="btn btn-primary mt-5">Cerrar Sesi칩n</button>
                </form>

                <form id="formMarcarHora" asp-controller="Horas" asp-action="MarcarSalida" method="post">
                    <button type="submit" onclick="obtenerHoraFechaActual()">Marcar Salida</button>
                    <p id="horaFechaActual"></p>
                </form>
            </div>
        </div>
    <div>
    <div>

    </div>
            <form asp-controller="Empleados" asp-action="Historial" asp-route-id="@ViewBag.EmpleadoId" method="post">
                    <button type="submit" >Historial</button>
                    
            </form>
    
   
</body>
</html>
<script>
    function obtenerHoraFechaActual() {
        // Obtener la hora y fecha actual
        var fechaHoraActual = new Date();
        var hora = fechaHoraActual.getHours();
        var minutos = fechaHoraActual.getMinutes();
        var segundos = fechaHoraActual.getSeconds();
        var dia = fechaHoraActual.getDate();
        var mes = fechaHoraActual.getMonth() + 1; // Meses en JavaScript van de 0 a 11
        var a침o = fechaHoraActual.getFullYear();

        // Formatear la hora y fecha actual
        var horaFechaFormateada = `${hora}:${minutos}:${segundos} - ${dia}/${mes}/${a침o}`;

        // Mostrar la hora y fecha actual en el p치rrafo correspondiente
        document.getElementById("horaFechaActual").innerHTML = horaFechaFormateada;
    }
</script>

