
<!DOCTYPE html>
<html>
<head>
     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div class="container">
    <div class="row justify-content-center"> <!-- Alinea el contenido al centro -->
        <div class="col-md-12 text-center"> <!-- Centra el contenido horizontalmente -->
            <!-- Botón para marcar salida -->
            <form id="formMarcarHora" asp-controller="Horas" asp-action="MarcarSalida" method="post">
                <button type="submit" class="btn btn-primary mt-5">Marcar Salida</button>
                <p id="horaFechaActual"></p>
            </form>
        </div>
    </div>
    <div class="row justify-content-center mt-3"> <!-- Añade espacio entre los botones y el botón Historial -->
        <div class="col-md-12 text-center">
            <!-- Botón para ver historial -->
            <form asp-controller="Empleados" asp-action="Historial" asp-route-id="@ViewBag.EmpleadoId" method="post">
                <button type="submit" class="btn btn-secondary">Historial</button>
            </form>
        </div>
    </div>
</div>

   
</body>
</html>
<script>
    function obtenerHoraFechaActual() {
        // Obtener la hora y fecha actual
        var fechaHoraActual = new Date();
        var hora = fechaHoraActual.getHours();
        var minutos = fechaHoraActual.getMinutes();
        var segundos = fechaHoraActual.getSeconds();
        var dia = fechaHoraActual.getDate();
        var mes = fechaHoraActual.getMonth() + 1; // Meses en JavaScript van de 0 a 11
        var año = fechaHoraActual.getFullYear();

        // Formatear la hora y fecha actual
        var horaFechaFormateada = `${hora}:${minutos}:${segundos} - ${dia}/${mes}/${año}`;

        // Mostrar la hora y fecha actual en el párrafo correspondiente
        document.getElementById("horaFechaActual").innerHTML = horaFechaFormateada;
    }
</script>

