@model RegistroHoras.Models.Empleado;
<!DOCTYPE html>
<html>

<body>
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
            <img src="https://i.pinimg.com/736x/8f/df/91/8fdf91c06e749bf964773838e3a8112f.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                    <form id="formMarcarHora" asp-controller="Horas" asp-action="MarcarHora" method="post">
                    <button type="submit" class="btn btn-outline-success" onclick="obtenerHoraFechaActual()">Marcar ingreso</button>

                    <p id="horaFechaActual"></p>
                </form>
            </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-aling center">




            </div>
        </div>
    <div>
    <div>

    </div>    
    
   
</body>
</html>
<script>
    function obtenerHoraFechaActual() {
        // Obtener la hora y fecha actual
        var fechaHoraActual = new Date();
        var hora = fechaHoraActual.getHours();
        var minutos = fechaHoraActual.getMinutes();
        var segundos = fechaHoraActual.getSeconds();
        var dia = fechaHoraActual.getDate();
        var mes = fechaHoraActual.getMonth() + 1; // Meses en JavaScript van de 0 a 11
        var año = fechaHoraActual.getFullYear();

        // Formatear la hora y fecha actual
        var horaFechaFormateada = `${hora}:${minutos}:${segundos} - ${dia}/${mes}/${año}`;

        // Mostrar la hora y fecha actual en el párrafo correspondiente
        document.getElementById("horaFechaActual").innerHTML = horaFechaFormateada;
    }


    
</script>

